include/Zend/**           linguist-vendored
include/simplehtmldom/**  linguist-vendored
kcfinder/**               linguist-vendored
layouts/v7/lib/**         linguist-vendored
libraries/**              linguist-vendored
libraries/log4php/*      -linguist-vendored
libraries/Oauth/*        -linguist-vendored
migrate/resources/**      linguist-vendored
test/migration/**         linguist-vendored
vtlib/thirdparty/**       linguist-vendored

.vscode/**                export-ignore
pkg/**                    export-ignore
tests/**                  export-ignore
.prettierignore           export-ignore
.prettierrc               export-ignore
codeception.yml           export-ignore
Vagrantfile               export-ignore
